body{
	margin: 0;
	padding: 0;
}

.dropdown{
	padding-top: 20px;
}

#home{

	background: url(images/kcc.jpg);
	color:black;
	height: 500px;
	width: 100%;
	font-family: Sans-serif;
	font-size: 18px;
	
}


#home h1{
	color: white;
	font-size: 50px;
	font-family: sans-serif;
	text-align: center;
	padding-top: 30px;


}


.menu {
	width: 100%;
	background: #142b47;
	overflow: hidden;
}
.menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: 60px;
}

.menu li {
	float: left;
}

.menu ul a {
	background: #142b47;
	text-decoration: none;
	width: 130px;
	display: block;
	text-align: center;
	color: #f2f2f2;
	font-size: 18px;
	font-family: sans-serif;
	letter-spacing: 0.5px;
}

.menu li a:hover{
color: #fff;
opacity: 0.5;
font-size: 20px;

}

.search-form {
	margin-top: 15px;
	float: right;
	margin-right: 100px;
}
.search-form button:hover{
	color: #fff;
}


#row{
	padding-top: 300px;
	opacity: 0.5;
	background: #142b47;
}

.activities{
	background: #ffd740;
	color: black;
	height: 600px;
	padding-top: 20px;

}

.image img{
	border-radius: 100%;
	
}

.image img:hover {
	box-shadow: 0 0 5px 1px rgba(0, 140, 186, 0.5);
  }

.timeline{
	background: #429dcf;
	color: white;
	height: 400px;

}

.timeline .row{
	padding-top: 10px;
}

.timeline .row h3{
	text-decoration: underline;
}

.social-media{
	background: #fdfafa;
	padding-top: 20px;
	height: 200px;
}

.travel-memory{
	background: #ffd740;
	height: 400px;
}

.blog{
	background: #f5f5f5;
	height: 600px;
}

.bg0{
	background: #ffffff;
	color: black;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

.bg1{
	background: #ffffff;
	color: black;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

.bg2{
	background: #ffffff;
	color: black;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

.acheivement #row{
	padding-top: 30px;
	height: 200px;

}

.acheivement{
	background: #ffd740;
	color: black;

}

footer{
	background: #263238;
	height: 150px;
	color: white;

}
footer .row{
	padding-top: 20px;
}
