body{
	margin: 0px;
	padding: 0px;
	user-select: none;
}

#home {
	background: url(images/snowhome.jpg) no-repeat;
	background-size: 100%;
	display: block;
	margin: 0px;
	padding: 0px;
	color: white;
	width: 100%;
	height: 450px;
}

.image img{
	border-radius: 100%;
	
}

.image img:hover {
	box-shadow: 0 0 5px 1px rgba(17, 25, 27, 0.5);
  }


#lh {
	background: #142b47;
	width: 70px;
	height: 70px;
	border-radius: 100%;
	opacity: .5;
	
	
}

.Menu {
	height: 80px;
	background: black;
	opacity: .5;

}

.Menu ul{
	margin: 0px;
	padding: 10px;
	list-style: none;
	line-height: 60px;
}

.Menu ul li{
	float: left;
	width: 170px;
	height: 40px;
	text-align: center;
	background-color: black;
	opacity: .8;
	font-family: sans-serif;
	color: white;
	font-size: 20px;
	font-weight: 900;

}
/*
.Menu ul li:nth-child(1){
	background: blue;
	height: 60px;
}
.Menu ul li:hover:not(.current){
	background: blue;
	height: 60px;
}
*/
.current{
	color: blue;
	height: 60px;
}
.Menu ul li a {
	
	text-decoration: none;
	display: block;
	color: #f2f2f2;
	
}

.Menu ul li a:hover{
	background-color:blue;
	
	}
.Menu ul li ul li {
	display: none;
}

.Menu ul li:hover ul li {
	display: block;
}
.search-form{
	float: right;
	margin-right: 100px;
	width: 20%;
}

.form-control{
	width: 500px;
	float: right;
	border: 2px solid yellow;
}
#welcome {
	display: block;
	padding-top: 100px;
	text-align: center;
	font-size: 70px;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.highlight{
	color: #facc01;
	text-decoration: 2px solid #eec408;

}

.boxes{
	margin: 10px;
	padding: 0px;
	height: 1500px;
	color: wheat;
	display: grid;
	grid-template: repeat(3, 350px)/repeat(2, 1fr);
	grid-auto-rows: 550px;
	grid-gap: 10px;

}
#box1,#box3{
	background-color:fuchsia;
}

#box2, #box5{
	background-color:rgb(26, 3, 26);
}
#box4,#box6{
	background-color:rgb(245, 186, 26);
}

#box5{
	grid-column: 1/-1;
}

/* boxes */
#box1{
	text-align: center;
}
#box2{
	font-size: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	
}

#box3{
	display: flex;
	align-items: center;
	
}
#box3 div{
	margin-left: 40px;
}

#box4{
	text-align: center;
}

#box5{
	display: grid;
	grid-template-columns: repeat(4,1fr);
	text-align: center;
}

/* end of boxes */

#grid1{
	background-color:fuchsia;
}
#grid5{
	background-color:fuchsia;
}
#grid6{
	background-color:fuchsia;
}

#grid4{
	background-color:blue;
}
#grid9{
	background-color:blue;
}
.homegrid div:nth-child(3), div:nth-child(7){
	background-color: #0dc434;
}
.homegrid div:nth-child(2), div:nth-child(8){
	background-color: #f83117;
}
.homegrid{
	margin-top: 50px;
	font-size: 50px;
	font-weight: bold;
	color: white;
	text-align: center;
	display: grid;
	grid-template: repeat(auto-fit,minmax(300px,5em))/repeat(auto-fit,minmax(500px,1fr));
	grid-auto-rows: 5em;
	grid-gap: 10px;

}
#grid5{
	grid-column: 2/-1;
}
.skills{
	background: url(images/skills-header-no-text.jpg) no-repeat 0 -20px;
	background-size: 100%;
	display: block;
	margin: 0px;
	padding: 0px;
	color: white;
	width: 100%;
	height: 300px;
}

.history{
	background: url(images/historyimage.jpg) no-repeat 0 -10px;
	background-size: 100%;
	display: block;
	margin: 0px;
	padding: 0px;
	color: white;
	width: 100%;
	height: 300px;
}
/*Education*/
.education{
	background: url(images/educationphoto.jpeg) no-repeat 0 -10px;
	background-size: 100%;
	display: block;
	margin: 0px;
	padding: 0px;
	color: white;
	width: 100%;
	height: 300px;
}

.educationsection{
	background: #facc01;
	background-size: 100%;
	color: black;
	height: 900px;
	padding-top: 20px;
}

.educationpart1{
	color:black;
	font-weight: 900;
}

.educationpart{
	background: black;
	border-radius: 10px;
	padding: 20px;
	margin-top: 20px;
	opacity: .5;
	color: white;
	font-size: 20px;
	font-family: sans-serif;
	font-weight: 600;
}


/*end of education*/
.achievements{
	background: url(images/achievementsimage.jpeg) no-repeat 0 -10px;
	background-size: 100%;
	display: block;
	margin: 0px;
	padding: 0px;
	color: white;
	width: 100%;
	height: 300px;
}
.references{
	background: url(images/referenceimage.png) no-repeat 0 -10px;
	background-size: 100%;
	display: block;
	margin: 0px;
	padding: 0px;
	color: white;
	width: 100%;
	height: 300px;
}

.hobbies{
	background: url(images/hobbies.jpg) no-repeat 0 -10px;
	background-size: 100%;
	display: block;
	margin: 0px;
	padding: 0px;
	color: white;
	width: 100%;
	height: 300px;
}

.address{
	background: url(images/addressimage1.jpg) no-repeat 0 -10px;
	background-size: 100%;
	display: block;
	margin: 0px;
	padding: 0px;
	color: white;
	width: 100%;
	height: 300px;
}
/* skills window*/

.skillsclass{
	background:blue;
	border-radius: 10px;
	padding: 20px;
	margin-top: 30px;
	opacity: .5;
	color: white;
	font-size: 20px;
	font-family: sans-serif;
	font-weight: 600;
}


.blog{
	background:rgb(27, 122, 167);
	height: 500px;
	margin-bottom: 30px;
	margin-top: 30px;
}
.blog h2{
	text-align: center;
	font-size: 40px;
	font-family: sans-serif;
	padding: 20px;
}

.bg{
	color: black;
	padding: 0px;
}

/*Grid part*/
.achievementsection{
	padding: 0px;
	margin: 0px;
}

/* Achievement */


.bg0{
	width: 100%;
	margin-bottom: 30px;
	display: grid;
	grid-template: repeat(3,260px)/repeat(3,1fr);
	grid-auto-columns: 1fr;
	grid-auto-rows: 260px;
	grid-gap: 10px;
	
}
.bg0 img{
	width: 400px;
	height: 260px;

}
.bgo img:hover{
	border: 1px solid black;
}


.hoverboxes{
	width: 1280px;

	background: black;
	margin: 70px auto 0px;
	display: flex;
	flex-flow: row wrap;

}
.hoverboxes .hoverbox{
	position: relative;
	width: 300px;
	height: 300px;
	background: #ff0;
	margin: 10px;
	box-sizing: border-box;
	display: inline-block;
	overflow: hidden;
}

.hoverboxes .hoverbox  img{
	position: relative;
	max-width: 100%;
	height: 300px;
	transition: transform 2s;
}
.hoverboxes .hoverbox:hover  img{
	transform: scale(1.2);

}

.hoverboxes .hoverbox .details{
	position: absolute;
	top:10px;
	left: 10px;
	bottom: 10px;
	right: 10px;
	/* background: black;
	opacity: 0.8; */
	background: rgba(0,0,0,.8);
	transform: scaleY(0);
	transition: transform .5s;
	

}
.hoverboxes .hoverbox:hover .details
{
	transform: scaleY(1);
}
.hoverboxes .hoverbox .details .content
{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	padding: 15px;
	color: #fff;
	text-align: center;

}
.hoverboxes .hoverbox .details .content h2
{
	margin: 0;
	padding: 0;
	font-size: 20px;
	color: #ff0;
}
.hoverboxes .hoverbox .details .content p
{
	margin: 10px 0 0;
	padding: 0;
}


/* End achievement grid and flex-boxes */
.hobbiespart ul{
	font-family: sans-serif;
	font-size: 20px;
	font-weight: 500;
}

.contacts{
	float: left;
	padding-right: 20px;
}
.contacts img:hover{
 
 border: 1px solid black;
 
 opacity: .1;
}
/*Home window*/

.homepreview img{
	width: 200px;
	height: 140px;
}

.preview{
	width: 640px;
	height: 360px;
	
}
.thumb{
	width: 400px;
	height: 200px;
}
.normal{
	border: 3px solid #000000;
}
.selected{
	border: 3px solid #ff0000;
}

.travel img{
	width: 275px;
	height: 183px;
}

.imgbox{
	margin-top: 30px;
	display: flex;
	flex-direction: row;
	flex: 1 3 275px;
	align-content: flex-start;
}

/*end of home window*/

#row{
	padding-top: 300px;
	opacity: 0.5;
	background: #142b47;
}

.histotysection{
	background: #ffd740;
	color: black;
	height: 800px;
	padding-top: 20px;

}


.timeline{
	background: #429dcf;
	color: white;
	height: 400px;

}



.social-media{
	background: #fdfafa;
	padding-top: 20px;
	height: 200px;
}

.travel-memory{
	
	height: 1500px;
}

.acheivement #row{
	padding-top: 30px;
	height: 200px;

}

.acheivement{
	background: #ffd740;
	color: black;

}

.footer{
	background: #263238;
	height: 170px;
	color: white;
	display: grid;
	grid-template-columns: repeat(2,1fr)

}
footer .row{
	padding-top: 20px;
}
