body{
	margin: 0px;
	padding: 0px;
	user-select: none;
}

#home {
	background: url(images/snowhome.jpg) no-repeat;
	background-size: 100%;
	display: block;
	margin: 0px;
	padding: 0px;
	color: white;
	width: 100%;
	height: 450px;
}

.image img{
	border-radius: 100%;
	
}

.image img:hover {
	box-shadow: 0 0 5px 1px rgba(17, 25, 27, 0.5);
  }


#lh {
	background: #142b47;
	width: 70px;
	height: 70px;
	border-radius: 100%;
	opacity: .5;
	
	
}

.Menu {
	height: 80px;
	background: black;
	opacity: .5;

}

.Menu ul{
	margin: 0px;
	padding: 10px;
	list-style: none;
	line-height: 60px;
}

.Menu ul li{
	float: left;
	width: 170px;
	height: 40px;
	text-align: center;
	background-color: black;
	opacity: .8;
	font-family: sans-serif;
	color: white;
	font-size: 20px;
	font-weight: 900;

}
/*
.Menu ul li:nth-child(1){
	background: blue;
	height: 60px;
}
.Menu ul li:hover:not(.current){
	background: blue;
	height: 60px;
}
*/
.current{
	color: blue;
	height: 60px;
}
.Menu ul li a {
	
	text-decoration: none;
	display: block;
	color: #f2f2f2;
	
}

.Menu ul li a:hover{
	background-color:blue;
	
	}
.Menu ul li ul li {
	display: none;
}

.Menu ul li:hover ul li {
	display: block;
}
.search-form{
	float: right;
	margin-right: 100px;
	width: 20%;
}

.form-control{
	width: 500px;
	float: right;
	border: 2px solid yellow;
}
#welcome {
	display: block;
	padding-top: 100px;
	text-align: center;
	font-size: 70px;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.highlight{
	color: #facc01;
	text-decoration: 2px solid #eec408;

}
.skills{
	background: url(images/skills-header-no-text.jpg) no-repeat 0 -20px;
	background-size: 100%;
	display: block;
	margin: 0px;
	padding: 0px;
	color: white;
	width: 100%;
	height: 300px;
}

.history{
	background: url(images/historyimage.jpg) no-repeat 0 -10px;
	background-size: 100%;
	display: block;
	margin: 0px;
	padding: 0px;
	color: white;
	width: 100%;
	height: 300px;
}
/*Education*/
.education{
	background: url(images/educationphoto.jpeg) no-repeat 0 -10px;
	background-size: 100%;
	display: block;
	margin: 0px;
	padding: 0px;
	color: white;
	width: 100%;
	height: 300px;
}

.educationsection{
	background: #facc01;
	background-size: 100%;
	color: black;
	height: 900px;
	padding-top: 20px;
}

.educationpart1{
	color:black;
	font-weight: 900;
}

.educationpart{
	background: black;
	border-radius: 10px;
	padding: 20px;
	margin-top: 20px;
	opacity: .5;
	color: white;
	font-size: 20px;
	font-family: sans-serif;
	font-weight: 600;
}


/*end of education*/
.achievements{
	background: url(images/achievementsimage.jpeg) no-repeat 0 -10px;
	background-size: 100%;
	display: block;
	margin: 0px;
	padding: 0px;
	color: white;
	width: 100%;
	height: 300px;
}
.references{
	background: url(images/referenceimage.png) no-repeat 0 -10px;
	background-size: 100%;
	display: block;
	margin: 0px;
	padding: 0px;
	color: white;
	width: 100%;
	height: 300px;
}

.hobbies{
	background: url(images/hobbies.jpg) no-repeat 0 -10px;
	background-size: 100%;
	display: block;
	margin: 0px;
	padding: 0px;
	color: white;
	width: 100%;
	height: 300px;
}

.address{
	background: url(images/addressimage1.jpg) no-repeat 0 -10px;
	background-size: 100%;
	display: block;
	margin: 0px;
	padding: 0px;
	color: white;
	width: 100%;
	height: 300px;
}
/* skills window*/

.skillsclass{
	background:blue;
	border-radius: 10px;
	padding: 20px;
	margin-top: 30px;
	opacity: .5;
	color: white;
	font-size: 20px;
	font-family: sans-serif;
	font-weight: 600;
}


.blog{
	background:rgb(27, 122, 167);
	height: 500px;
	margin-bottom: 30px;
	margin-top: 30px;
}
.blog h2{
	text-align: center;
	font-size: 40px;
	font-family: sans-serif;
	padding: 20px;
}

.bg{
	color: black;
	padding: 0px;
}
.bg0{
	float:left;
	
}
.bg0 img{
	width: 350px;
	height: 260px;
	padding-right: 20px;
	padding-bottom: 20px;
	

}
.hobbiespart ul{
	font-family: sans-serif;
	font-size: 20px;
	font-weight: 500;
}

.contacts{
	float: left;
	padding-right: 20px;
}
.contacts img:hover{
 
 border: 1px solid black;
 
 opacity: .1;
}
/*Home window*/

.homepreview img{
	width: 200px;
	height: 140px;
}

.preview{
	width: 640px;
	height: 360px;
	
}
.thumb{
	width: 400px;
	height: 200px;
}
.normal{
	border: 3px solid #000000;
}
.selected{
	border: 3px solid #ff0000;
}

.travel img{
	width: 275px;
	height: 183px;
}

.values{
	background: #fdfafa;
	opacity: .5;
	height: 400px;
	margin-top: 20px;
	border-bottom: 4px solid rgb(255, 166, 0);
	
}
.values ul{
	list-style: none;
	color:black;
	font-size: 30px;
	font-family: sans-serif;
	padding: 40px;
}

.values h2{
	margin-left: 200px;
	font-size: 40px;
}
/*end of home window*/

#row{
	padding-top: 300px;
	opacity: 0.5;
	background: #142b47;
}

.activities {
	background: #ffd740;
	color: black;
	height: 550px;
	padding-top: 20px;

}

.histotysection{
	background: #ffd740;
	color: black;
	height: 800px;
	padding-top: 20px;

}


.timeline{
	background: #429dcf;
	color: white;
	height: 400px;

}



.social-media{
	background: #fdfafa;
	padding-top: 20px;
	height: 200px;
}

.travel-memory{
	background: #ffd740;
	height: 400px;
}

.acheivement #row{
	padding-top: 30px;
	height: 200px;

}

.acheivement{
	background: #ffd740;
	color: black;

}

footer{
	background: #263238;
	height: 150px;
	color: white;

}
footer .row{
	padding-top: 20px;
}
